@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
* a {
  text-decoration: none;
  color: white;
}

p {
  color: black;
}

ul {
  list-style: none;
}

.titulos {
  background-color: rgb(24, 13, 52);
  width: 100%;
  font-size: 1.3em;
  text-align: center;
  justify-content: center;
  font-weight: 700;
  margin-block: 0;
  font-weight: bold;
  padding: 20px;
  color: rgb(255, 0, 255);
}

body {
  line-height: normal;
  font-family: "Roboto-Bold", sans-serif;
  font-size: large;
  font-weight: 700;
  width: 100%;
  background-color: #E6E6E6;
}

.btn_medio {
  margin-block: 20px;
  width: 40%;
  height: 50px;
  opacity: 0.75;
}
.btn_medio a {
  color: rgb(24, 13, 52);
}

.btncolor {
  background-color: rgb(255, 0, 255);
  font-weight: bold;
}
.btncolor:hover {
  background-color: rgb(255, 0, 255);
}

footer {
  display: flex;
  padding: 20px;
  color: aliceblue;
  background-color: rgb(24, 13, 52);
  font-size: 1em;
}
footer .red_social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}
footer .red_social > ul {
  display: flex;
  flex-direction: row;
  padding-right: 30px;
}
footer .info_contact_container {
  display: flex;
  flex-direction: column;
  width: 40%;
}
footer .info_contact_container > h2 {
  height: 100%;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}
footer .info_contact_container .info_contact {
  height: 80%;
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
}
footer .info_contact_container .info_contact > ul:nth-child(1) {
  height: 80%;
}
footer .info_contact_container .info_contact > ul:nth-child(2) {
  height: 20%;
}
footer .info_contact_container .info_contact .footer_contacto {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
footer .info_contact_container .menu_footer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: black;
  font-size: 0.9em;
}
footer .info_contact_container .menu_footer li {
  transition: 1s;
}
footer .info_contact_container .menu_footer li:hover {
  transform: scale(1.2);
}
footer .info_contact_container .menu_footer a {
  color: rgb(255, 0, 255);
}

.fa-facebook:hover, .fa-instagram:hover, .fa-whatsapp:hover {
  filter: invert(22%) sepia(81%) saturate(6420%) hue-rotate(296deg) brightness(117%) contrast(122%);
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
}
header .navbar, header .navbar-expand-lg {
  background-color: rgb(24, 13, 52);
  width: 100%;
}
header .nav-link {
  color: white;
}
header .nav-link:hover {
  color: rgb(255, 0, 255);
}
header #navbarNav {
  justify-content: end;
  margin-right: 20px;
  font-size: 1.3rem;
  font-weight: 700;
}
header .navbar-toggler, header .collapsed {
  background-color: rgba(192, 8, 192, 0.753);
}
header .navbar-toggler:active, header .collapsed:active {
  background-color: rgb(255, 0, 255);
}

/* .container1{

    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: "header"
        "main"
        "titulos"
        "footer ";


}

.container1> .header {

    grid-area: header;
}
 */
.container1 > .main {
  /* .container1>.titulos{

      grid-area: titulos;
  }

  .container1> footer {

      grid-area: footer;
  } */
}
@media screen and (min-width: 768px) {
  .container1 > .main #contenido_principal {
    display: flex;
    background: url(./../img/Fondo.jpg) center/cover no-repeat;
    height: 550px;
    width: 100%;
    justify-content: end;
  }
  .container1 > .main #contenido_principal #contenido1 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    line-height: 1.2em;
    width: 40%;
    padding: 20px;
    color: white;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.733), transparent);
    text-align: center;
  }
  .container1 > .main #contenido_principal #contenido1 > h2 {
    font-size: 2.3em;
    font-weight: bold;
    color: rgb(255, 0, 255);
    margin: 0px;
  }
  .container1 > .main #contenido_principal #contenido1 > h4 {
    font-size: 1.2em;
  }
  .container1 > .main #contenido_principal #contenido1 > p {
    color: white;
    font-size: 0.9em;
    font-weight: 400;
  }
  .container1 > .main #contenido_principal #contenido1 > button {
    width: 50%;
    height: 50px;
    opacity: 0.75;
    transition: 1s;
    background-color: rgb(255, 0, 255);
  }
  .container1 > .main #contenido_principal #contenido1 > button:hover {
    opacity: 1;
    width: 100%;
  }
}
.container1 > .main .servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #E6E6E6;
}
.container1 > .main .servicios img {
  -o-object-fit: cover;
     object-fit: cover;
}
.container1 > .main #contactanos_index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(19, 19, 141, 0.71);
}
@media screen and (min-width: 768px) {
  .container1 > .main .quienes_somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(19, 19, 141, 0.71);
  }
  .container1 > .main .quienes_somos #quienes_somos__desc {
    font-size: 1em;
    color: white;
    text-align: center;
    padding: 20px 70px 0px 70px;
    line-height: 1.5em;
    font-weight: 400;
  }
}

.w-100 {
  -o-object-fit: cover;
     object-fit: cover;
}

.card-title {
  font-weight: bold;
  color: rgba(192, 8, 192, 0.753);
}

.card-text {
  font-weight: 400;
  height: 150px;
  line-height: 1.5em;
}

.testimonios {
  padding: 50px 30px 50px 30px;
  height: 600px;
  background-color: #E6E6E6;
}

.carousel-item {
  margin-bottom: 20px;
}

.card {
  width: 85%;
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
.card .img-wrapper {
  max-width: 100%;
  height: 13em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  max-height: 100%;
}

@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
}
.cards__test, #card__servicios {
  display: flex;
  gap: 20px;
}
.cards__test .card1, #card__servicios .card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(24, 13, 52);
  margin-block: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
.cards__test .card1 p, #card__servicios .card1 p {
  font-size: x-large;
  margin-bottom: 40px;
}
.cards__test .card1 .card__desc, #card__servicios .card1 .card__desc {
  height: 200px;
}
.cards__test .card1 .card__img, #card__servicios .card1 .card__img {
  width: 200px;
  height: 30%;
  margin-bottom: 30px;
}
.cards__test .card1 .card__tittle, #card__servicios .card1 .card__tittle {
  font-family: "Roboto", sans-serif;
}
.cards__test .card1 .card__btn, #card__servicios .card1 .card__btn {
  margin-top: 10px;
  width: 50%;
  height: 30px;
  opacity: 0.75;
  transition: 1s;
}
.cards__test .card1 .card__btn:hover, #card__servicios .card1 .card__btn:hover {
  width: 100%;
}

.container_test {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "header" "contenido_testimonios" "cartas_testimonios" "titulos" "footer";
}
.container_test > header {
  grid-area: header;
}
.container_test > #contenido_testimonios {
  grid-area: contenido_testimonios;
}
.container_test > #cartas_testimonios {
  grid-area: cartas_testimonios;
}
.container_test > .titulos {
  grid-area: titulos;
}
.container_test > footer {
  grid-area: footer;
}
.container_test #contenido_testimonios {
  display: flex;
  flex-direction: column;
  background-image: url(./../../img/Negocios.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  height: 550px;
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container_test #contenido_testimonios #contenido_testimonio__principal {
  display: flex;
  background-color: rgba(24, 13, 52, 0.712);
  color: white;
  height: 550px;
}
.container_test #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.container_test #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal h2 {
  font-size: 2.3em;
  font-weight: bold;
  color: rgb(255, 0, 255);
  margin: 0px;
}
.container_test #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal h3 {
  font-size: 1.5em;
}
.container_test #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal #texto_contenido_principal {
  width: 100%;
  height: 100px;
  text-align: center;
  color: white;
  font-weight: 400;
  padding-inline: 100px;
  font-size: 1.2em;
  line-height: 1.5em;
}
.container_test #cartas_testimonios {
  padding: 20px;
  margin: 5%;
}

.container_servicios {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr 1fr;
  grid-template-areas: "header" "contenedores_servicios" "titulos" "footer ";
}
.container_servicios > #contenedores_servicios {
  grid-area: contenedores_servicios;
}
.container_servicios > .titulos {
  grid-area: titulos;
}
.container_servicios > header {
  grid-area: header;
}
.container_servicios > footer {
  grid-area: footer;
}
.container_servicios #contenedores_servicios {
  display: flex;
  flex-direction: column;
}
.container_servicios #contenedores_servicios .contenedor_servicios {
  display: flex;
  flex-direction: column;
  background-color: #E6E6E6;
}
.container_servicios #contenedores_servicios .contenedor_servicios .color1 {
  background-color: rgb(24, 13, 52);
}
.container_servicios #contenedores_servicios .contenedor_servicios h2 {
  color: rgb(255, 0, 255);
}
.container_servicios #contenedores_servicios .contenedor_servicios #imagen_servicios {
  display: flex;
  background-image: url(./../../img/Servicio-Tecnico.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  height: 550px;
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container_servicios #contenedores_servicios .contenedor_servicios .texto_servicios {
  font-size: 1.3em;
  color: black;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  padding-inline: 20px;
}
.container_servicios #contenedores_servicios .contenedor_servicios #imagen_servicios2 {
  display: flex;
  flex-direction: row;
  background-image: url(./../../img/Servicio-Tecnico2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  height: 550px;
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container_servicios #contenedores_servicios .contenedor_servicios #imagen_servicios3 {
  display: flex;
  flex-direction: row;
  background-image: url(./../../img/Redess.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  height: 550px;
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container_servicios #contenedores_servicios .contenedor_servicios #imagen_servicios4 {
  display: flex;
  flex-direction: row;
  background-image: url(./../../img/redesseguridad.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  height: 550px;
  margin-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container_quienes {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  grid-template-areas: "header" "contenedor_quienes_somos" "titulos" "footer ";
}
.container_quienes > #contenedor_quienes_somos {
  grid-area: contenedor_quienes_somos;
}
.container_quienes > .titulos {
  grid-area: titulos;
}
.container_quienes > header {
  grid-area: header;
}
.container_quienes > footer {
  grid-area: footer;
}
.container_quienes #contenedor_quienes_somos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E6E6E6;
}
.container_quienes #contenedor_quienes_somos .contenedores_quienes_somos {
  display: flex;
  flex-direction: row;
}
.container_quienes #contenedor_quienes_somos .contenedores_quienes_somos .division1 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.container_quienes #contenedor_quienes_somos .contenedores_quienes_somos > h2 {
  height: 100px;
  width: 100%;
  padding-block: 20px;
}
.container_quienes #contenedor_quienes_somos .contenedores_quienes_somos__img {
  width: 100%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container_quienes #contenedor_quienes_somos .texto_quienes_somos {
  padding: 20px 40px 20px 40px;
  font-size: 1.2em;
  color: black;
  margin-bottom: 5px;
  font-weight: 400;
  text-align: center;
}
.container_quienes #contenedor_quienes_somos .contenedores_quienes_somos1 {
  display: flex;
  flex-direction: row-reverse;
  margin-block: 100px;
}
.container_quienes #contenedor_quienes_somos .contenedores_quienes_somos1 .division1 {
  display: flex;
  flex-direction: column;
}
.container_quienes #contenedor_quienes_somos .contenedores_quienes_somos1 > h2 {
  height: 100px;
  width: 100%;
  padding-block: 20px;
}
.container_quienes #contenedor_quienes_somos .contenedores_quienes_somos__img {
  width: 100%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0em 0em 1em 1em;
}
.container_quienes #contenedor_quienes_somos .texto_quienes_somos {
  width: 100%;
  padding: 20px 20px 20px 40px;
  font-size: 1.1em;
  line-height: 1.5em;
  color: black;
  font-weight: 400;
  text-align: start;
}

.container_contact h2 {
  margin-top: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}
.container_contact button {
  align-self: center;
}
.container_contact #contact_page {
  display: flex;
  flex-direction: row;
  height: 800px;
  padding: 20px;
  margin: 0 5% 5% 5%;
}
.container_contact #contact_page #contact_contenido {
  background-image: url(./../../img/Contactanos.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  flex-direction: row;
}
.container_contact #contact_page #contact_img {
  display: flex;
  justify-content: start;
  padding: 20px;
}
.container_contact #form_contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(24, 13, 52);
  width: 50%;
  flex-direction: column;
}
.container_contact #form_contact #texto_titulo {
  color: rgb(255, 0, 255);
  padding-bottom: 25px;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.container_contact #form_contact form {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.container_contact #form_contact .form-label {
  color: white;
}

@media screen and (max-width: 768px) {
  * a:link {
    text-decoration: none;
  }
  * a:visited {
    text-decoration: none;
  }
  * a:hover {
    text-decoration: underline;
  }
  * a:active {
    text-decoration: underline;
  }
  header .nav-link {
    margin-top: 10px;
    text-align: center;
  }
  .main .card-text, .container_test .card-text, .container_quienes .card-text, .container_servicios .card-text, .container_contact .card-text {
    height: 200px;
    margin-bottom: 0px;
  }
  .main .carousel-control-prev,
.main .carousel-control-next, .container_test .carousel-control-prev,
.container_test .carousel-control-next, .container_quienes .carousel-control-prev,
.container_quienes .carousel-control-next, .container_servicios .carousel-control-prev,
.container_servicios .carousel-control-next, .container_contact .carousel-control-prev,
.container_contact .carousel-control-next {
    background-color: transparent;
  }
  .main .carousel-control-next-icon, .main .carousel-control-prev-icon, .container_test .carousel-control-next-icon, .container_test .carousel-control-prev-icon, .container_quienes .carousel-control-next-icon, .container_quienes .carousel-control-prev-icon, .container_servicios .carousel-control-next-icon, .container_servicios .carousel-control-prev-icon, .container_contact .carousel-control-next-icon, .container_contact .carousel-control-prev-icon {
    display: none;
  }
  .main h2, .container_test h2, .container_quienes h2, .container_servicios h2, .container_contact h2 {
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
  }
  .main button, .container_test button, .container_quienes button, .container_servicios button, .container_contact button {
    align-self: center;
  }
  .main #contact_page, .container_test #contact_page, .container_quienes #contact_page, .container_servicios #contact_page, .container_contact #contact_page {
    display: flex;
    flex-direction: column;
    height: 800px;
    padding: 20px;
    margin: 0 5% 5% 5%;
  }
  .main #contact_page #contact_contenido, .container_test #contact_page #contact_contenido, .container_quienes #contact_page #contact_contenido, .container_servicios #contact_page #contact_contenido, .container_contact #contact_page #contact_contenido {
    background-image: url(./../../img/Contactanos.jpeg);
    background-repeat: no-repeat;
    width: 100%;
    flex-direction: row;
    height: 1800px;
  }
  .main #contact_page #contact_img, .container_test #contact_page #contact_img, .container_quienes #contact_page #contact_img, .container_servicios #contact_page #contact_img, .container_contact #contact_page #contact_img {
    display: flex;
    justify-content: start;
    padding: 20px;
  }
  .main #form_contact, .container_test #form_contact, .container_quienes #form_contact, .container_servicios #form_contact, .container_contact #form_contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 13, 52);
    width: 100%;
    flex-direction: column;
  }
  .main #form_contact #texto_titulo, .container_test #form_contact #texto_titulo, .container_quienes #form_contact #texto_titulo, .container_servicios #form_contact #texto_titulo, .container_contact #form_contact #texto_titulo {
    color: rgb(255, 0, 255);
    padding-bottom: 25px;
    text-align: center;
    justify-content: center;
    width: 100%;
  }
  .main #form_contact form, .container_test #form_contact form, .container_quienes #form_contact form, .container_servicios #form_contact form, .container_contact #form_contact form {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .main #form_contact .form-label, .container_test #form_contact .form-label, .container_quienes #form_contact .form-label, .container_servicios #form_contact .form-label, .container_contact #form_contact .form-label {
    color: white;
  }
  .main #contenedores_servicios, .container_test #contenedores_servicios, .container_quienes #contenedores_servicios, .container_servicios #contenedores_servicios, .container_contact #contenedores_servicios {
    display: flex;
    padding: 0px;
    flex-direction: column;
    margin: 0px;
  }
  .main #contenedores_servicios .contenedor_servicios, .container_test #contenedores_servicios .contenedor_servicios, .container_quienes #contenedores_servicios .contenedor_servicios, .container_servicios #contenedores_servicios .contenedor_servicios, .container_contact #contenedores_servicios .contenedor_servicios {
    display: flex;
    flex-direction: column;
    background-color: rgba(19, 19, 141, 0.71);
  }
  .main #contenedores_servicios .contenedor_servicios #imagen_servicios, .container_test #contenedores_servicios .contenedor_servicios #imagen_servicios, .container_quienes #contenedores_servicios .contenedor_servicios #imagen_servicios, .container_servicios #contenedores_servicios .contenedor_servicios #imagen_servicios, .container_contact #contenedores_servicios .contenedor_servicios #imagen_servicios {
    display: flex;
    flex-direction: row;
    background-image: url(./../../img/Servicio-Tecnico.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin-bottom: 20px;
  }
  .main #contenedores_servicios .contenedor_servicios .titulos_servicios, .container_test #contenedores_servicios .contenedor_servicios .titulos_servicios, .container_quienes #contenedores_servicios .contenedor_servicios .titulos_servicios, .container_servicios #contenedores_servicios .contenedor_servicios .titulos_servicios, .container_contact #contenedores_servicios .contenedor_servicios .titulos_servicios {
    font-weight: bold;
    color: rgb(255, 0, 255) !important;
    text-align: center;
    font-size: 1.5em;
    padding: 20px !important;
    margin: 20px !important;
    background-color: rgba(19, 19, 141, 0.71);
    border-radius: 5px;
  }
  .main #contenedores_servicios .contenedor_servicios .texto_servicios, .container_test #contenedores_servicios .contenedor_servicios .texto_servicios, .container_quienes #contenedores_servicios .contenedor_servicios .texto_servicios, .container_servicios #contenedores_servicios .contenedor_servicios .texto_servicios, .container_contact #contenedores_servicios .contenedor_servicios .texto_servicios {
    font-size: 1.3em;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    background-color: unset;
    padding: 25px;
  }
  .main #contenedores_servicios .contenedor_servicios #imagen_servicios2, .container_test #contenedores_servicios .contenedor_servicios #imagen_servicios2, .container_quienes #contenedores_servicios .contenedor_servicios #imagen_servicios2, .container_servicios #contenedores_servicios .contenedor_servicios #imagen_servicios2, .container_contact #contenedores_servicios .contenedor_servicios #imagen_servicios2 {
    display: flex;
    flex-direction: row;
    background-image: url(./../../img/Servicio-Tecnico2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 800px;
    margin-bottom: 20px;
  }
  .main #contenedores_servicios .contenedor_servicios #imagen_servicios3, .container_test #contenedores_servicios .contenedor_servicios #imagen_servicios3, .container_quienes #contenedores_servicios .contenedor_servicios #imagen_servicios3, .container_servicios #contenedores_servicios .contenedor_servicios #imagen_servicios3, .container_contact #contenedores_servicios .contenedor_servicios #imagen_servicios3 {
    display: flex;
    flex-direction: row;
    background-image: url(./../../img/Redess.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin-bottom: 20px;
  }
  .main #contenedores_servicios .contenedor_servicios #imagen_servicios4, .container_test #contenedores_servicios .contenedor_servicios #imagen_servicios4, .container_quienes #contenedores_servicios .contenedor_servicios #imagen_servicios4, .container_servicios #contenedores_servicios .contenedor_servicios #imagen_servicios4, .container_contact #contenedores_servicios .contenedor_servicios #imagen_servicios4 {
    display: flex;
    flex-direction: row;
    background-image: url(./../../img/redesseguridad.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin-bottom: 20px;
  }
  .main #contenedor_quienes_somos, .container_test #contenedor_quienes_somos, .container_quienes #contenedor_quienes_somos, .container_servicios #contenedor_quienes_somos, .container_contact #contenedor_quienes_somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background-color: #E6E6E6;
  }
  .main #contenedor_quienes_somos .contenedores_quienes_somos, .container_test #contenedor_quienes_somos .contenedores_quienes_somos, .container_quienes #contenedor_quienes_somos .contenedores_quienes_somos, .container_servicios #contenedor_quienes_somos .contenedores_quienes_somos, .container_contact #contenedor_quienes_somos .contenedores_quienes_somos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .main #contenedor_quienes_somos .contenedores_quienes_somos > h2, .container_test #contenedor_quienes_somos .contenedores_quienes_somos > h2, .container_quienes #contenedor_quienes_somos .contenedores_quienes_somos > h2, .container_servicios #contenedor_quienes_somos .contenedores_quienes_somos > h2, .container_contact #contenedor_quienes_somos .contenedores_quienes_somos > h2 {
    text-align: center;
    padding-block: 10px;
  }
  .main #contenedor_quienes_somos .contenedores_quienes_somos1, .container_test #contenedor_quienes_somos .contenedores_quienes_somos1, .container_quienes #contenedor_quienes_somos .contenedores_quienes_somos1, .container_servicios #contenedor_quienes_somos .contenedores_quienes_somos1, .container_contact #contenedor_quienes_somos .contenedores_quienes_somos1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .main #contenedor_quienes_somos .contenedores_quienes_somos1 > h2, .container_test #contenedor_quienes_somos .contenedores_quienes_somos1 > h2, .container_quienes #contenedor_quienes_somos .contenedores_quienes_somos1 > h2, .container_servicios #contenedor_quienes_somos .contenedores_quienes_somos1 > h2, .container_contact #contenedor_quienes_somos .contenedores_quienes_somos1 > h2 {
    text-align: center;
    padding-block: 10px;
  }
  .main #contenedor_quienes_somos .contenedores_quienes_somos__img, .container_test #contenedor_quienes_somos .contenedores_quienes_somos__img, .container_quienes #contenedor_quienes_somos .contenedores_quienes_somos__img, .container_servicios #contenedor_quienes_somos .contenedores_quienes_somos__img, .container_contact #contenedor_quienes_somos .contenedores_quienes_somos__img {
    width: 100%;
    height: unset;
    margin-bottom: 10px;
  }
  .main #contenedor_quienes_somos .texto_quienes_somos, .container_test #contenedor_quienes_somos .texto_quienes_somos, .container_quienes #contenedor_quienes_somos .texto_quienes_somos, .container_servicios #contenedor_quienes_somos .texto_quienes_somos, .container_contact #contenedor_quienes_somos .texto_quienes_somos {
    margin-top: 10px;
    text-align: center;
    font-size: 1em;
    color: black;
    margin-bottom: 10px;
    font-weight: 400;
  }
  .main #contenido_testimonios, .container_test #contenido_testimonios, .container_quienes #contenido_testimonios, .container_servicios #contenido_testimonios, .container_contact #contenido_testimonios {
    display: flex;
    flex-direction: column;
    background-image: url(./../../img/Negocios.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 1000px;
    margin-bottom: 20px;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .main #contenido_testimonios #contenido_testimonio__principal, .container_test #contenido_testimonios #contenido_testimonio__principal, .container_quienes #contenido_testimonios #contenido_testimonio__principal, .container_servicios #contenido_testimonios #contenido_testimonio__principal, .container_contact #contenido_testimonios #contenido_testimonio__principal {
    display: flex;
    background-color: rgba(24, 13, 52, 0.562);
    color: white;
    height: 1000px;
  }
  .main #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal, .container_test #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal, .container_quienes #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal, .container_servicios #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal, .container_contact #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  .main #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal h2, .main #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal h4, .container_test #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal h2, .container_test #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal h4, .container_quienes #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal h2, .container_quienes #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal h4, .container_servicios #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal h2, .container_servicios #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal h4, .container_contact #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal h2, .container_contact #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal h4 {
    font-weight: bold;
    color: rgb(255, 0, 255);
  }
  .main #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal h2, .container_test #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal h2, .container_quienes #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal h2, .container_servicios #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal h2, .container_contact #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal h2 {
    font-size: 2em;
  }
  .main #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal h3, .container_test #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal h3, .container_quienes #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal h3, .container_servicios #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal h3, .container_contact #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal h3 {
    font-size: 1.3em !important;
    text-align: center;
  }
  .main #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal #texto_contenido_principal, .container_test #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal #texto_contenido_principal, .container_quienes #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal #texto_contenido_principal, .container_servicios #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal #texto_contenido_principal, .container_contact #contenido_testimonios #contenido_testimonio__principal #contenido_test__principal #texto_contenido_principal {
    width: 100%;
    height: 100px;
    padding-inline: 20px;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5em;
  }
  .main #contenido_principal, .container_test #contenido_principal, .container_quienes #contenido_principal, .container_servicios #contenido_principal, .container_contact #contenido_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./../img/Fondo.jpg) center/cover no-repeat;
    height: 550px;
    width: 100%;
  }
  .main #contenido_principal #contenido1, .container_test #contenido_principal #contenido1, .container_quienes #contenido_principal #contenido1, .container_servicios #contenido_principal #contenido1, .container_contact #contenido_principal #contenido1 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    width: 100%;
    padding: 20px;
    color: white;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.733), transparent);
    text-align: center;
    height: 550px;
  }
  .main #contenido_principal #contenido1 > h2, .container_test #contenido_principal #contenido1 > h2, .container_quienes #contenido_principal #contenido1 > h2, .container_servicios #contenido_principal #contenido1 > h2, .container_contact #contenido_principal #contenido1 > h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 0, 255);
    margin: 0px;
  }
  .main #contenido_principal #contenido1 > h4, .container_test #contenido_principal #contenido1 > h4, .container_quienes #contenido_principal #contenido1 > h4, .container_servicios #contenido_principal #contenido1 > h4, .container_contact #contenido_principal #contenido1 > h4 {
    font-size: 1.1em;
  }
  .main #contenido_principal #contenido1 > p, .container_test #contenido_principal #contenido1 > p, .container_quienes #contenido_principal #contenido1 > p, .container_servicios #contenido_principal #contenido1 > p, .container_contact #contenido_principal #contenido1 > p {
    color: white;
    font-size: 0.8em;
    font-weight: 400;
  }
  .main #contenido_principal #contenido1 > button, .container_test #contenido_principal #contenido1 > button, .container_quienes #contenido_principal #contenido1 > button, .container_servicios #contenido_principal #contenido1 > button, .container_contact #contenido_principal #contenido1 > button {
    width: 50%;
    height: 50px;
    opacity: 0.75;
    transition: 1s;
    background-color: rgb(255, 0, 255);
  }
  .main #contenido_principal #contenido1 > button:hover, .container_test #contenido_principal #contenido1 > button:hover, .container_quienes #contenido_principal #contenido1 > button:hover, .container_servicios #contenido_principal #contenido1 > button:hover, .container_contact #contenido_principal #contenido1 > button:hover {
    opacity: 1;
    width: 100%;
  }
  .main #contenido_principal #contenido1 .testimonios, .container_test #contenido_principal #contenido1 .testimonios, .container_quienes #contenido_principal #contenido1 .testimonios, .container_servicios #contenido_principal #contenido1 .testimonios, .container_contact #contenido_principal #contenido1 .testimonios {
    height: 100px;
  }
  .main .carousel-inner, .container_test .carousel-inner, .container_quienes .carousel-inner, .container_servicios .carousel-inner, .container_contact .carousel-inner {
    font-size: 1rem;
  }
  .main .testimonios, .container_test .testimonios, .container_quienes .testimonios, .container_servicios .testimonios, .container_contact .testimonios {
    padding: 50px 30px 50px 30px;
    height: 650px;
    background-color: #E6E6E6;
  }
  .main .testimonios .carousel-inner .carousel-item .card, .container_test .testimonios .carousel-inner .carousel-item .card, .container_quienes .testimonios .carousel-inner .carousel-item .card, .container_servicios .testimonios .carousel-inner .carousel-item .card, .container_contact .testimonios .carousel-inner .carousel-item .card {
    height: 600px;
  }
  .main .testimonios .carousel-inner .carousel-item .card .img-wrapper, .container_test .testimonios .carousel-inner .carousel-item .card .img-wrapper, .container_quienes .testimonios .carousel-inner .carousel-item .card .img-wrapper, .container_servicios .testimonios .carousel-inner .carousel-item .card .img-wrapper, .container_contact .testimonios .carousel-inner .carousel-item .card .img-wrapper {
    height: unset;
  }
  .main .testimonios .carousel-inner .carousel-item .card .card-body, .container_test .testimonios .carousel-inner .carousel-item .card .card-body, .container_quienes .testimonios .carousel-inner .carousel-item .card .card-body, .container_servicios .testimonios .carousel-inner .carousel-item .card .card-body, .container_contact .testimonios .carousel-inner .carousel-item .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main .testimonios .carousel-inner .carousel-item .card .card-body .card-text, .container_test .testimonios .carousel-inner .carousel-item .card .card-body .card-text, .container_quienes .testimonios .carousel-inner .carousel-item .card .card-body .card-text, .container_servicios .testimonios .carousel-inner .carousel-item .card .card-body .card-text, .container_contact .testimonios .carousel-inner .carousel-item .card .card-body .card-text {
    font-size: 0.9rem;
  }
  .main .quienes_somos, .container_test .quienes_somos, .container_quienes .quienes_somos, .container_servicios .quienes_somos, .container_contact .quienes_somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(19, 19, 141, 0.71);
  }
  .main .quienes_somos #quienes_somos__desc, .container_test .quienes_somos #quienes_somos__desc, .container_quienes .quienes_somos #quienes_somos__desc, .container_servicios .quienes_somos #quienes_somos__desc, .container_contact .quienes_somos #quienes_somos__desc {
    font-size: 1em;
    color: white;
    text-align: center;
    padding: 20px 20px 0px 20px;
    font-weight: 400;
  }
  .main #contactanos_index, .container_test #contactanos_index, .container_quienes #contactanos_index, .container_servicios #contactanos_index, .container_contact #contactanos_index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E6E6E6 !important;
    padding-block: 20px;
  }
  .main .btn_medio, .container_test .btn_medio, .container_quienes .btn_medio, .container_servicios .btn_medio, .container_contact .btn_medio {
    width: 80%;
    border-color: transparent;
  }
  footer {
    margin: 0px;
    font-size: 1em;
    flex-direction: column;
  }
  footer .red_social {
    flex-direction: row;
    width: 100%;
  }
  footer .red_social > a {
    width: 50%;
  }
  footer .red_social > a > img {
    height: 75px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  footer .red_social > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    gap: 20px;
  }
  footer .info_contact_container {
    width: 100%;
    text-align: center;
  }
  footer .info_contact_container > h2 {
    margin-top: 20px;
    font-size: 1rem;
  }
  footer .info_contact_container .info_contact .footer_contacto {
    gap: 20px;
  }
  footer .info_contact_container .info_contact .footer_contacto > li {
    width: 100%;
  }
  footer .info_contact_container .info_contact .menu_footer {
    display: none;
  }
  h2 {
    margin: 0px;
    padding: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container_quienes #contenedor_quienes_somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background-color: #E6E6E6;
  }
  .container_quienes #contenedor_quienes_somos .contenedores_quienes_somos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .container_quienes #contenedor_quienes_somos .contenedores_quienes_somos > h2 {
    text-align: center;
    padding-block: 10px;
  }
  .container_quienes #contenedor_quienes_somos .contenedores_quienes_somos1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .container_quienes #contenedor_quienes_somos .contenedores_quienes_somos1 > h2 {
    text-align: center;
    padding-block: 10px;
  }
  .container_quienes #contenedor_quienes_somos .contenedores_quienes_somos__img {
    width: 100%;
    height: unset;
    margin-bottom: 10px;
  }
  .container_quienes #contenedor_quienes_somos .texto_quienes_somos {
    margin-top: 10px;
    text-align: center;
    font-size: 1em;
    color: black;
    margin-bottom: 10px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .container_quienes #contenedor_quienes_somos .contenedores_quienes_somos__img {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container_test #carouselExampleControls3, .main #carouselExampleControls3 {
    height: 700px;
  }
  .container_test #carouselExampleControls3 .carousel-inner .carousel-item .card, .main #carouselExampleControls3 .carousel-inner .carousel-item .card {
    height: 600px;
  }
  .container_test #carouselExampleControls3 .carousel-inner .carousel-item .card .img-wrapper, .main #carouselExampleControls3 .carousel-inner .carousel-item .card .img-wrapper {
    height: unset;
  }
  .container_test #carouselExampleControls3 .carousel-inner .carousel-item .card .card-body, .main #carouselExampleControls3 .carousel-inner .carousel-item .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container_test #carouselExampleControls3 .carousel-inner .carousel-item .card .card-body .card-text, .main #carouselExampleControls3 .carousel-inner .carousel-item .card .card-body .card-text {
    font-size: 0.9rem;
  }
  .container_test #carouselExampleControls2, .main #carouselExampleControls2 {
    height: 700px;
  }
  .container_test #carouselExampleControls2 .carousel-inner .carousel-item .card, .main #carouselExampleControls2 .carousel-inner .carousel-item .card {
    height: 400px;
  }
  .container_test #carouselExampleControls2 .carousel-inner .carousel-item .card .img-wrapper, .main #carouselExampleControls2 .carousel-inner .carousel-item .card .img-wrapper {
    height: unset;
  }
  .container_test #carouselExampleControls2 .carousel-inner .carousel-item .card .card-body, .main #carouselExampleControls2 .carousel-inner .carousel-item .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container_test #carouselExampleControls2 .carousel-inner .carousel-item .card .card-body .card-text, .main #carouselExampleControls2 .carousel-inner .carousel-item .card .card-body .card-text {
    font-size: 0.9rem;
  }
  .container_test #carouselExampleControls1 .carousel-inner .carousel-item .card, .main #carouselExampleControls1 .carousel-inner .carousel-item .card {
    height: 500px;
  }
  .container_test #carouselExampleControls1 .carousel-inner .carousel-item .card .img-wrapper, .main #carouselExampleControls1 .carousel-inner .carousel-item .card .img-wrapper {
    height: unset;
  }
  .container_test #carouselExampleControls1 .carousel-inner .carousel-item .card .card-body, .main #carouselExampleControls1 .carousel-inner .carousel-item .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .container_test #carouselExampleControls1 .carousel-inner .carousel-item .card .card-body .card-text, .main #carouselExampleControls1 .carousel-inner .carousel-item .card .card-body .card-text {
    font-size: 0.9rem;
  }
  #contenido_principal #contenido1 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    width: 100%;
    padding: 20px;
    color: white;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.733), transparent);
    text-align: center;
    height: 550px;
  }
  #contenido_principal #contenido1 > h2 {
    font-size: 1.5em !important;
    font-weight: bold;
    color: rgb(255, 0, 255);
    margin: 0px;
  }
  #contenido_principal #contenido1 > h4 {
    font-size: 1.1em;
  }
  #contenido_principal #contenido1 > p {
    color: white;
    font-size: 0.8em;
    font-weight: 400;
  }
  #contenido_principal #contenido1 > button {
    width: 50%;
    height: 50px;
    opacity: 0.75;
    transition: 1s;
    background-color: rgb(255, 0, 255);
  }
  #contenido_principal #contenido1 > button:hover {
    opacity: 1;
    width: 100%;
  }
  #contenido_principal #contenido1 .testimonios {
    height: 100px;
  }
}/*# sourceMappingURL=stylex.css.map */