.container_contact{
    
    h2{
        margin-top: 20px;
        text-align: center;
        font-weight: 700;
        font-size: 2rem;
    }

    button{
        align-self: center;
    }

    #contact_page {

        display: flex;
        flex-direction: row;
        height: 800px;
        padding: 20px;
        margin: 0 5% 5% 5%;
        
        #contact_contenido {
            background-image: url(./../../img/Contactanos.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 50%;
            flex-direction: row;
        }
        #contact_img {
            display: flex;
            justify-content: start;
            padding: 20px;
        }
    }
    #form_contact {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:$maincolor;
        width: 50%;
        flex-direction: column;
        
        
        #texto_titulo {
            color: $colorbtn;
            padding-bottom: 25px;
            text-align: center;
            justify-content: center;
            width: 60%;
        }

        form{
            width: 80%;
            display: flex;
            flex-direction: column;
        }

        .form-label{
            color: white;
        }
            
    }
    

}