header{
	display: flex;
	flex-direction: row;
	width: 100%;
	.navbar, .navbar-expand-lg{
		background-color: $maincolor;
		width: 100%;
	}

	.nav-link{
		color: white;
		&:hover{
			color: $colorbtn;
		}
	}

	#navbarNav{
		justify-content: end;
		margin-right: 20px;
		font-size: 1.3rem;
		font-weight: 700;
	}
	.navbar-toggler, .collapsed{
		background-color: $colortitulo;
		
		&:active{
			background-color: $colorbtn;
		}
	}
}

