.container1{
    
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: "header"
        "main"
        "titulos"
        "footer ";
        
        
}

.container1> .header {

    grid-area: header;
}

.container1> .main {

    grid-area: main;
    padding: 20px 20px 0px 20px;
    width:calc( 100vw - 40px );
    
    #contenido_principal {
        display: flex;
    
        #contenido1 {
            display: flex;
            margin-left: 20px;
            gap:40px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
                background-color: rgba(127, 255, 212, 0.568);
            padding: 10px;
            font-size: x-large;
        
            > button {
                   width: 50%;
                   height: 50px;
                   opacity: 0.75;
                   transition:1s;
            }
            
            > button:hover{
                opacity:1;
                width:100%;
            }
            
        }
    .quienes_somos {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: solid 2px black;
            transition:1s;
                
        #quienes_somos__desc {
                color: rgb(33, 124, 124);
                font-size: x-large;
            }
    }
    #quienes_somos:hover{
            background-color: $secondarycolor;   
    }
    #servicios {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            #card__servicios {
                display: flex;
                gap: 20px;
            }
    
    }
    #contactanos_index {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    }
        }        
    }


.container1>.titulos{

    grid-area: titulos;
}

.container1> footer {

    grid-area: footer;
}