/* .container1{
    
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: "header"
        "main"
        "titulos"
        "footer ";
        
        
}

.container1> .header {

    grid-area: header;
}
 */

.container1> .main {
    @media screen and (min-width: 768px){
        
        #contenido_principal {
        display: flex;
        background: url(./../img/Fondo.jpg) center / cover no-repeat;
        height: 550px;
        width: 100%;
        justify-content: end;
        
        #contenido1 {
            display: flex;
            gap:10px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1.2em;
            width: 40%;
            padding: 20px;
            color: white;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.733), transparent);
            text-align: center;

            
            >h2{
                font-size: 2.3em;
                font-weight: bold;
                color: $colorbtn;
                margin: 0px;
            }
            >h4{
                font-size: 1.2em;
            }
            >p{
                color: white;
                font-size: 0.9em;
                font-weight: 400;
            }
            > button {
                   width: 50%;
                   height: 50px;
                   opacity: 0.75;
                   transition:1s;
                   background-color:$colorbtn;
            }
            
            > button:hover{
                opacity:1;
                width:100%;
            }
        }
    }

}
.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color:#E6E6E6 ;
}
#contactanos_index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $secondarycolor;

}
@media screen and (min-width: 768px){
.quienes_somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $secondarycolor;
    
    
    #quienes_somos__desc {
        font-size: 1em;
        color: white;
        text-align: center;
        padding: 20px 70px 0px 70px;
        font-weight: 400;
    }
}
}


/* .container1>.titulos{

    grid-area: titulos;
}

.container1> footer {

    grid-area: footer;
} */
}