.container1{
    
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: "header"
        "main"
        "titulos"
        "footer ";
        
        
}

.container1> .header {

    grid-area: header;
}


.container1> .main {

    grid-area: main;
    
    #contenido_principal {
        display: flex;
        background: url(../../img/Fondo.jpg) center / cover no-repeat;
        height: 550px;
        width: 100%;
        justify-content: end;
        
    
        #contenido1 {
            display: flex;
            margin-left: 20px;
            gap:40px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1.2em;
            width: 40%;
            padding: 20px;
            color: white;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.733), transparent);
            text-align: center;
            >h2{
                font-size: 2.2em;
                font-weight: bold;
            }
            >h4{
                font-size: 1.5em;
            }
            >p{
                font-size: 0.9em;
                font-weight: 400;
            }
            > button {
                   width: 50%;
                   height: 50px;
                   opacity: 0.75;
                   transition:1s;
            }
            
            > button:hover{
                opacity:1;
                width:100%;
            }
            
        }
    .quienes_somos {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition:1s;
            color: black;
                
        #quienes_somos__desc >p {
                color: black;
            }
    }
    #quienes_somos:hover{
            background-color: $secondarycolor;   
    }
    #servicios {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #contactanos_index {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    


}


.container1>.titulos{

    grid-area: titulos;
}

.container1> footer {

    grid-area: footer;
}
}