@media screen and (max-width:768px) {
*{ a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }
  
a:hover {
    text-decoration: underline;
  }
  
a:active {
    text-decoration: underline;
  }
}


header{

  .nav-link{
    margin-top: 10px;
    text-align: center;
  }

}

.main,.container_test,.container_quienes,.container_servicios,.container_contact{
  .card-text{
    height: 200px;
    margin-bottom: 0px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: transparent;
    
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    display: none;
  }

  h2{
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
  }
button{
    align-self: center;
  
}
#contact_page {

    display: flex;
    flex-direction: column;
    height: 800px;
    padding: 20px;
    margin: 0 5% 5% 5%;
    
    #contact_contenido {
        background-image: url(./../../img/Contactanos.jpeg);
        background-repeat: no-repeat;
        width: 100%;
        flex-direction: row;
        height: 1800px;
    }
    #contact_img {
        display: flex;
        justify-content: start;
        padding: 20px;
    }
}
#form_contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:$maincolor;
    width: 100%;
    flex-direction: column;
    
    
    #texto_titulo {
        color: $colorbtn;
        padding-bottom: 25px;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    form{
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .form-label{
        color: white;
    }
        
}
#contenedores_servicios {
        
    display: flex;
    padding: 0px;
    flex-direction: column;
    margin: 0px;
    
    

    .contenedor_servicios {
        display: flex;
        flex-direction: column;
        background-color: $secondarycolor;
        
        #imagen_servicios {
            display: flex;
            flex-direction: row;
            background-image: url(./../../img/Servicio-Tecnico.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            align-items: center;
            justify-content: center;
            height: 500px;
            margin-bottom: 20px;

            
        }
        .titulos_servicios{

          font-weight: bold;
          color: $colorbtn !important;
          text-align: center;
          font-size: 1.5em;
          padding: 20px !important;
          margin: 20px !important;
          background-color: $secondarycolor;
          border-radius: 5px;
          
        }
        
        .texto_servicios {
            font-size: 1.3em;
            color: #ffffff;
            margin-bottom: 10px;
            text-align: center;
            justify-content: center;
            font-weight: 400;
            font-size: 1em;
            line-height: 1.5em;
            background-color: unset;
            padding: 25px;
        }
        #imagen_servicios2 {
            display: flex;
            flex-direction: row;
            background-image: url(./../../img/Servicio-Tecnico2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            align-items: center;
            justify-content: center;
            height: 800px;
            margin-bottom: 20px;
        }
        
        #imagen_servicios3 {
            display: flex;
            flex-direction: row;
            background-image: url(./../../img/Redess.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            align-items: center;
            justify-content: center;
            height: 500px;
            margin-bottom: 20px;
        }
        
        #imagen_servicios4 {
            display: flex;
            flex-direction: row;
            background-image: url(./../../img/redesseguridad.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            align-items: center;
            justify-content: center;
            height: 500px;
            margin-bottom: 20px;
        }
        
    }
}
#contenedor_quienes_somos {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background-color: #E6E6E6;
    
    .contenedores_quienes_somos{

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        >h2 {
            text-align: center;
            padding-block:10px;
        }
    
    }
    .contenedores_quienes_somos1{

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      
      >h2 {
          text-align: center;
          padding-block:10px;
      }
  
  }
    .contenedores_quienes_somos__img{
        width: 100%;
        height: unset;
        margin-bottom: 10px;
    }
    .texto_quienes_somos{
        margin-top: 10px;
        text-align: center;
        font-size: 1em;
        color: black;
        margin-bottom: 10px;
        font-weight: 400;
    }    
    
    
}
#contenido_testimonios {
    display: flex;
    flex-direction: column;
    background-image: url(./../../img/Negocios.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: 1000px;
    margin-bottom: 20px;
    width: 100%;
    padding: 0px;
    margin: 0px;
   
                
    #contenido_testimonio__principal {
        display: flex;
        background-color: rgba(24, 13, 52, 0.562);
        color: white;
        height: 1000px;
        
        
        #contenido_test__principal {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            padding: 20px;

            h2,h4{
              
              font-weight: bold;
              color: $colorbtn;
            }

            h2{
              font-size: 2em;
            }

            h3{
              font-size: 1.3em !important;
              text-align: center;
            }

            #texto_contenido_principal {
              width: 100%;
              height: 100px;
              padding-inline: 20px;
              text-align: center;
              color: white;
              font-weight: 400;
              font-size: 1.2rem;
              line-height: 1.5em;
            }
        }
    }
}
#contenido_principal {
    display: flex;
    justify-content: center;
    align-items: center;
        background: url(./../img/Fondo.jpg) center / cover no-repeat;
        height: 550px;
        width: 100%;
  #contenido1 {
    display: flex;
            gap:10px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 1.2em;
            width: 100%;
            padding: 20px;
            color: white;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.733), transparent);
            text-align: center;
            height: 550px;
            >h2{
              font-size: 1.5em;
              font-weight: bold;
              color: $colorbtn;
              margin: 0px;
            }
            >h4{
              font-size: 1.1em;
            }
          >p{
              color: white;
              font-size: 0.8em;
              font-weight: 400;
          }
          > button {
                 width: 50%;
                 height: 50px;
                 opacity: 0.75;
                 transition:1s;
                 background-color:$colorbtn;
          }
          
          > button:hover{
              opacity:1;
              width:100%;
          }
          .testimonios{

          height: 100px;
          }
}

}
.carousel-inner{
  font-size: 1rem;
}
  .testimonios{
    padding: 50px 30px 50px 30px;
    height: 700px;
    background-color: #E6E6E6;
    .carousel-inner{
      .carousel-item{
        .card{
          height: 600px;
          .img-wrapper{
            height: unset;
          }
          .card-body{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .card-text{
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
  .quienes_somos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $secondarycolor;
  
  
  #quienes_somos__desc {
      font-size: 1em;
      color: white;
      text-align: center;
      padding: 20px 20px 0px 20px;
      font-weight: 400;
  }
  }
  #contactanos_index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E6E6E6 !important;
  padding-block:20px;
  }
  .btn_medio{
  width: 80%;
  border-color: transparent;
  }
}
footer{
  margin: 0px;
  font-size: 1em;
  flex-direction: column;
  .red_social {
    flex-direction: row;
    width: 100%;
    >a{
      width:50%;
      >img{
        height: 75px;
        object-fit: contain;
      }
     }
    >ul{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      padding: 0px;
      margin: 0px;
      gap: 20px;
    }
  }
  .info_contact_container{
    width: 100%;
    text-align: center;
    >h2{
      margin-top: 20px;
      font-size: 1rem;
    }
    .info_contact{
      .footer_contacto{
        gap: 20px;
        >li{
          width: 100%;
        }
      }
      .menu_footer{
      display: none;
        }
    }
  }
    
}
h2{
  margin: 0px;
  padding: 0px;
}

}
@media screen and (max-width:426px) {
  .card {
    width: 100%;
  }
}

@media screen and (min-width:768px) and (max-width:1023px){ //tablet
  .container_quienes {
    #contenedor_quienes_somos {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        background-color: #E6E6E6;
        
        .contenedores_quienes_somos{

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
            >h2 {
                text-align: center;
                padding-block:10px;
            }
        
        }
        .contenedores_quienes_somos1{

          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          
          >h2 {
              text-align: center;
              padding-block:10px;
          }
      
      }
        .contenedores_quienes_somos__img{
            width: 100%;
            height: unset;
            margin-bottom: 10px;
        }
        .texto_quienes_somos{
            margin-top: 10px;
            text-align: center;
            font-size: 1em;
            color: black;
            margin-bottom: 10px;
            font-weight: 400;
        }    
        
        
    }
  }
  .container_contact{
    #contact_page{
      #contact_contenido{
        background-position: 0px -40px;
      }
    }
  }
}

@media screen and (min-width:1024px) and (max-width:1199px){ // laptop pequeño
  
  .container_quienes{
    #contenedor_quienes_somos{
      .contenedores_quienes_somos__img{
        width: 100%;
        height: 400px;
        margin-bottom: 10px;
      }
    }
  }

  .container_contact{
    #contact_page{
      #contact_contenido{
        background-position: -170px 0px;
      }
    }
  }

}

@media screen and (min-width:768px) and (max-width:1199px){ //pc
  .container_test,.main{
    #carouselExampleControls3{
      height: 700px;
      .carousel-inner{
        .carousel-item{
          .card{
            height: 600px;
            .img-wrapper{
              height: unset;
            }
            .card-body{
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .card-text{
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }
    #carouselExampleControls2 {
      height: 700px;
      .carousel-inner{
        .carousel-item{
          .card{
            height: 400px;
            .img-wrapper{
              height: unset;
            }
            .card-body{
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .card-text{
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }
    #carouselExampleControls1 {
      //height: 700px;
      .carousel-inner{
        .carousel-item{
          .card{
            height: 500px;
            .img-wrapper{
              height: unset;
            }
            .card-body{
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .card-text{
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }
  }
  #contenido_principal {
    #contenido1 {
    display: flex;
    gap:10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    width: 100%;
    padding: 20px;
    color: white;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.733), transparent);
    text-align: center;
    height: 550px;
    >h2 {
      font-size: 1.2em !important;
      font-weight: bold;
      color: $colorbtn;
      margin: 0px;
    }
    >h4 {
      font-size: 1em !important;
    }
    >p {
      color: white;
      font-size: 0.8em;
      font-weight: 400;
    }
    > button {
      width: 50%;
      height: 50px;
      opacity: 0.75;
      transition:1s;
      background-color:$colorbtn;
    }
  
    > button:hover{
      opacity:1;
      width:100%;
    }
    .testimonios{
      height: 100px;
    }
    }
  }
}