.container_quienes{
    
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: "header"
        "contenedor_quienes_somos"
        "titulos"
        "footer ";
    >#contenedor_quienes_somos{
        grid-area: contenedor_quienes_somos;
    }   
    >.titulos{
        grid-area: titulos;
    }   
    >header{
        grid-area: header;
    }
    >footer {
        grid-area: footer;
    }
    #contenedor_quienes_somos {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #E6E6E6;
        
        .contenedores_quienes_somos {

            display: flex;
            flex-direction: row;
            
            
            .division1{
                display: flex;
                flex-direction: column;
                margin-top: 20px;
            }

            >h2 {
                height: 100px;
                width: 100%;
                padding-block: 20px;
            }
        }
        .contenedores_quienes_somos__img {
            width: 100%;
            height: 550px;
            object-fit: cover;

        }
        .texto_quienes_somos {
            padding: 20px 40px 20px 40px;
            font-size: 1.2em;
            color: black;
            margin-bottom: 5px;
            font-weight: 400;
            text-align: center;
        } 
        
        .contenedores_quienes_somos1 {

            display: flex;
            flex-direction: row-reverse;
            margin-block: 100px;
            
            
            .division1{
                display: flex;
                flex-direction: column;
                
            }

            >h2 {
                height: 100px;
                width: 100%;
                padding-block: 20px;
            }
        }
        .contenedores_quienes_somos__img {
            width: 100%;
            height: 550px;
            object-fit: cover;
            border-radius: 0em 0em 1em 1em;

        }
        .texto_quienes_somos {
            width: 100%;
            padding: 20px 20px 20px 40px;
            font-size: 1.1em;
            line-height: 1.5em;
            color: black;
            font-weight: 400;
            text-align: start;
        }    
        
        }   
        
}
