.container_quienes{
    
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    grid-template-areas: "header"
        "contenedor_quienes_somos"
        "titulos"
        "footer ";
    >#contenedor_quienes_somos{
        grid-area: contenedor_quienes_somos;
    }   
    >.titulos{
        grid-area: titulos;
    }   
    >header{
        grid-area: header;
    }
    >footer {
        grid-area: footer;
    }
    #contenedor_quienes_somos {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10%;
        
        .contenedores_quienes_somos {

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
            >h2 {
                height: 50px;
            }
        
        }
        .contenedores_quienes_somos__img {
            width: 100%;
            height: 800px;
            margin-bottom: 5%;
        }
        
        .texto_quienes_somos {
            font-size: x-large;
            color: white;
            margin-bottom: 20px;
        }    
        
    }
            
}