* {
    margin: 0px;
    padding: 0px;

    & a{
        text-decoration: none;
        color: white;
    }

}

p{
    color: black;
}


ul {
    list-style: none;
}

.titulos {
    background-color: $maincolor;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    margin-block: 0;
    font-weight: bold;
    padding: 20px;
    color: $colorbtn;
    
}

body {
    line-height: normal;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: large;
    font-weight: 700;
    width: 100%;
    background-color: #E6E6E6;
}

.btn_medio {
    margin-block: 20px;
    width: 40%;
    height: 50px;
    opacity: 0.75;
    a{
        color: $maincolor;
    }
}

.btncolor{
    background-color: $colorbtn;
    font-weight: bold;
    
    &:hover{
        background-color: $colorbtn;
    }
}

