.container_servicios{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr  1fr 1fr;
    grid-template-areas: "header"
        "contenedores_servicios"
        "titulos"
        "footer ";
    
    >#contenedores_servicios{

            grid-area: contenedores_servicios;
    }
    >.titulos{
            grid-area: titulos;
    }
        
    >header{
            grid-area: header;
    }
        
    >footer {
            grid-area: footer;
    }
    
    #contenedores_servicios {
        
        display: flex;
        padding: 20px;
        flex-direction: column;
        margin: 5%;

        .contenedor_servicios {
            display: flex;
            flex-direction: column;
            background-color: #E6E6E6;
            
            #imagen_servicios {
                display: flex;
                flex-direction: row;
                background-image: url(./../../img/Servicio-Tecnico.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                align-items: center;
                justify-content: center;
                height: 500px;
                margin-bottom: 20px;

                .titulos_servicios{

                    font-weight: bold;
                    color: $maincolor;
                    background-color: $secondarycolor;
                }
            }
            
            .texto_servicios {
                font-size: 1.3em;
                color: #ffffff;
                margin-bottom: 10px;
                text-align: center;
                justify-content: center;
                background-color: $secondarycolor;
                font-weight: 400;
            }
            #imagen_servicios2 {
                display: flex;
                flex-direction: row;
                background-image: url(./../../img/Servicio-Tecnico2.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                align-items: center;
                justify-content: center;
                height: 800px;
                margin-bottom: 20px;
            }
            
            #imagen_servicios3 {
                display: flex;
                flex-direction: row;
                background-image: url(./../../img/Redess.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                align-items: center;
                justify-content: center;
                height: 500px;
                margin-bottom: 20px;
            }
            
            #imagen_servicios4 {
                display: flex;
                flex-direction: row;
                background-image: url(./../../img/redesseguridad.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                align-items: center;
                justify-content: center;
                height: 500px;
                margin-bottom: 20px;
            }
            
        }
    }
}