@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");


$maincolor:rgb(24, 13, 52);
$secondarycolor: rgba(19, 19, 141, 0.71);
$colorbtn: rgb(255, 0, 255);
$colortitulo:rgba(192, 8, 192, 0.753);